/* Custom CSS para el tema Anatole */

/* ------------------------------------------- */
/* --- 1. Importación y Aplicación de Fuentes --- */
/* ------------------------------------------- */

/* Importar las fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Aplicación de las fuentes */
.post__content h1,
.post__content h2,
.post__content h3,
.post__content h4,
.post__content h5,
.post__content h6,
.post__footer-date,
.sidebar__introduction-title a,
.sidebar__introduction-title h1 {
    font-family: 'Playfair Display', serif !important;
}

body {
    font-family: 'Lato', sans-serif !important;
}


/* ------------------------------------------- */
/* --- 2. Ajustes y Overrides anteriores --- */
/* ------------------------------------------- */

/* Evitar mayúsculas en los ítems del menú */
.nav__list-item {
    text-transform: none !important;
}

/* Evitar mayúsculas en el título del blog en la barra lateral */
.sidebar__introduction-title {
    text-transform: none !important;
}

/* Reducir tamaño de íconos sociales en la barra lateral */
.sidebar__list-item a i {
    font-size: 30px !important;
    /* Opcional: Sobrescribir fa-2x */
    width: 30px !important;
    height: 30px !important;
}